*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.wrapper{
    position: relative;
    left: 0;
    top: 0;
}

.covor-img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.covor-text{
    position: absolute;
    top: 9.9%;
    left: 3.333%;
    width: 54.166%;
}

.relative{
    position: relative;
    bottom: 220px;
    left: 7.4375%;
    width: 23.41%;

}

.absolute{
    position: absolute;
    top: 36.5%;
    left: 38.285%;
    width: 23.41%;
}

.fixed{
    position: fixed;
    top: 30.5%;
    left: 69.1325%;
    width: 23.41%;
}