:root{
    --bgcolor: #ffffff;
    --bgnav: #303030;
    --bgfooter: #303030;
    --textcolor: #d5d5d5;
    --artikelcolor: #949494;
    --color: #ffc650;
    --page-width: 1200px;
}

@font-face{
    font-family: open-sans;
    src: url(../fonts/OpenSans-Light.ttf);
}

@font-face{
    font-family: PlayfairDisplay;
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: open-sans;

}

nav {
	display: flex;
    justify-content: space-between;
	align-items: center;
	padding: 0 140px;
    background-color: var(--bgnav);
    height: 45px;
}

nav img{
    height: 35px;
    padding: 0 0 0 10px;
}

nav li{
	display: inline-block;
	padding: 0px 55px;
}

nav li a{
	text-decoration: none;
	color: var(--textcolor);
	font-size: 1.5vw;
    text-transform: uppercase;
}


main{
    width: var(--page-width);
    margin: 0 auto;
}

.covor img{
    width: 100%;
    margin: 10px 0 10px 0;
}

.artikel-top{
    width: 100%;
    display: inline-flex;
    margin: 10px 0 10px 0;
}

.artikel-bottom{
    width: 100%;
    display: inline-flex;
    margin: 10px 0 10px 0;
}

.artikel{
    position: relative;
    width: 600px;
}

.text-r{
    margin: 0 0 0 15px;

}

.text-l{
    margin: 0 15px 0 0;
}

.artikel h3{
    font-size: 1.442em;
    color: black;
}

.artikel p{
    margin: 0 0 12px 0;
    font-size: 1.442em;
    color: var(--artikelcolor);
}

.artikel a p{
    position: absolute;
    right: 0;
    bottom: 0;
    text-decoration: none;
    color: black;
}

.artikel img{
    width: 100%;
}

.spacer h2{
    color: #646464;
    font-family: PlayfairDisplay;
    text-align: center;
    font-size: 10rem;
}

.spacer span{
    color: #cecece;
    font-family: PlayfairDisplay;
}

.spacer img{
    width: 100%;
}

footer{
    margin: 100px 0 0 0;
    background-color: var(--bgfooter);
}

.media-spacer{
    width: var(--page-width);
    margin: 0 auto;
}

.media-wrapper{
    display: inline-flex;
    margin: 0 0 60px 0;
}

.media{
    width: 400px;
    position: relative;
}

.media-position{
    position: absolute;
    bottom: 0;
}

.media-img img{
    margin: 5px;
    width: 390px;
}

.media-icon{
    margin: 0 5px;
    width: 390px;
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: 90px;
    grid-gap: 10px;
}

.media-icon img{
    width: 100%;
}

.about{
    width: 800px;
    position: relative;
    padding: 0 0 50px 0;
}

.about h3{
    font-size: 2em;
    color: var(--color);
    text-transform: uppercase;
    margin: 20px 0 0 20px;
}

.about p{
    margin: 20px 0 12px 20px;
    font-size: 1.4em;
    color: var(--textcolor);
}

.about a p{
    position: absolute;
    right: 0;
    bottom: 0;
    text-decoration: none;
    color: var(--color);
    text-transform: uppercase;
}


/* Media Queries */

@media only screen and (max-width: 800px) {
    :root{
        --page-width: 800px;
    }

    nav{
        padding: 0;
    }
    
    nav li{
        padding: 0 30px;
    }

    nav li a{
        font-size: 3vw;
    }

    .artikel h3{
        font-size: 1em;
    }
    
    .artikel p{
        font-size: 0.97em;
    }

    .spacer h2{
        font-size: 6.5rem;
    }

    .media-wrapper{
        display: unset;
        margin: 0 0 60px 0;
        width: var(--page-width);
    }

    .media{
        width: var(--page-width);
    }

    .about{
        width: var(--page-width);
    }
    
    .media-position{
        display: inline-flex;
    }

    .media-img img{
        margin: 5px;
        width: 440px;
    }

    .media-icon img{
        margin: 100px 0 0 0;
    }

    .media-icon{
        margin: 0 5px;
        width: 390px;
        display: grid;
        grid-template-columns: repeat(2, 165px);
        grid-template-rows: repeat(2, 165px);
        grid-gap: 10px;
    }
}

@media only screen and (max-width: 680px) {
    :root{
        --page-width: 680px;
    }
}